.box{
   height: 500px;
   width: 500px;
   background-color: red;
   animation: my 3s infinite linear;
   position: absolute;
}

@keyframes my{
   0%{
      top: 0;
      left: 0;
      transform: rotate(100deg);
   }
   25%{
      top: 100px;
      left: 0;
      transform: scale(1.5) rotatex(40deg);
      background-color: yellow;
   }
   50%{
      top: 50px;
      left: 500px;
      transform: scale(.5) rotate(40deg);
      background-color: green;
   }
   75%{
      top: 220px;
      left: 800px;
      transform: scale(2.5) rotate(140deg);
      background-color: brown;
   }
   100%{
      top: 500px;
      left: 0;
   }

}